.bkimage {
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
    height: 100%;
	width: 100%;
}

canvas {
	position: absolute;
	left: 50px;
	top: 130px;
  height: 78%;
  width: 75%;
	right: 0;
	border-style: solid;
	border-width: 2px;
	display: none;
	  background-image: url("images/bkmap.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: left; 
	  background-size: 1380px 690px;
}



#intro {
	  position: fixed;
	font-family: 'Arbutus';
	  font-weight: bold;
	font-size: 270%;
	  text-shadow: 7px 7px 8px #cccccc;
	    letter-spacing: 25px;
	color: #003333;
  position: absolute;
  top: 8%;
  left: 20%;
	
}

.btnstart {
	  position: fixed;
	 position: absolute;
  top: 90%;
  right: 40%;
  font-family: 'Arbutus';
  font-size: 120%;
  	color: #0e1a25;
	 text-shadow: 2px 2px 3px #999999;
  letter-spacing: 15px;
  background-color: inherit;
  border: none;
   transition-duration: 0.3s;
}

.btnstart:hover {
  background-color: inherit;
  color: black;
  text-shadow: 6px 8px 5px #4d4d4d;
}

.chartitle {

	position: absolute;
  top: 2%;
  left: 26%;
  font-size: 300%;
  color: #152737;
  font-family: 'Arbutus';
  text-shadow: 2px 2px 3px #999999;

  
  
}

#char {
  position: absolute;
  top: 25%;
  left: 21%;
width: 20%;
height: 5%;
  font-family: 'Aclonica';
font-size: 140%;
 color: #0e1a25;
background-color: #4d4d4d;
letter-spacing: 6px;
text-shadow: 2px 2px 3px #999999;
border-style: inset;
		
		 
}

#place {
	 position: absolute;
	  top: 9%;
  right: 34%;
  width: 20%;
  height: 5%;
    font-family: 'Aclonica';
	font-size: 115%;
	 color: #0e1a25;
	background-color: #4d4d4d;
	letter-spacing: 6px;
	text-shadow: 2px 2px 3px #999999;
	border-style: inset;
		
		 
}

.plctitle {
	 position: absolute;
	  top: 5%;
  left: 5%;
  font-size: 215%;
  color: #152737;
  font-family: 'Arbutus';
  text-shadow: 2px 2px 3px #999999;
}

.btncon {
	position: absolute;
  top: 24%;
  right: 28%;
   font-family: 'Arbutus';
	  font-size: 214%;
	  	 text-shadow: 2px 2px 3px #999999;
  letter-spacing: 9px;
  background-color: inherit;
  border: none;
   transition-duration: 0.3s;
     color: #4d0000;
  
}

.btncon:hover {
  background-color: inherit;
  color: #1a0000;
  text-shadow: 6px 8px 5px #4d4d4d;
}


.btnplay {
	position: absolute;
 top: 6%;
 right: 8%;
   font-family: 'Arbutus';
	  font-size: 70px;
	  	 text-shadow: 2px 2px 3px #999999;
  letter-spacing: 15px;
  background-color: inherit;
  border: none;
   transition-duration: 0.3s;
     color: #4d0000;
  
}

.btnplay:hover {
  background-color: inherit;
  color: #1a0000;
  text-shadow: 6px 8px 5px #4d4d4d;
}

.wiza {
	position: absolute;
  top: 30%;
  right: 30%;
  height: 65%;
  width: 20%;
}

.knight {
	position: absolute;
  top: 38%;
  left: 24%;
  height: 56%;
  width: 20%;
}

.rogue {
	position: absolute;
	top: 30%;
  right: 5%;
  height: 70%;
  width: 20%;
}

.wizast {
	position: absolute;
	top: 68%;
  right: 34%;
  height: 23%;
  width: 20%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
     padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.knightst {
  position: absolute;
	top: 68%;
  right: 60%;
  height: 23%;
  width: 20%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
     padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.roguest {
	position: absolute;
	top: 68%;
  right: 8%;
  height: 23%;
  width: 20%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
     padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  
}

.knightnm {
  position: absolute;
  top: 56%;
  right: 72%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
	font-size: 30px;
	     font-family: 'Aclonica';
		      padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
   text-align: center;
    
}

.wizanm {
		position: absolute;
  top: 56%;
  right: 45%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
	font-size: 30px;
	     font-family: 'Aclonica';
		      padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
   text-align: center;
     
}

.roguenm {
  position: absolute;
  top: 56%;
  right: 19%;
   border-style: solid;
     border-width: 1px;
    background-image: linear-gradient(#00334d, #262626);
	font-size: 30px;
	     font-family: 'Aclonica';
		      padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
   text-align: center;
     
    
}




ul.a {
  position: absolute;
  top: 18%;
 left: 76%;
  right: 1%;
 

  margin-left: 5%;
  padding-top: 3%;
 padding-right: 5%;
  padding-bottom: 3%;
  padding-left: 2%;

  font-family: 'Aclonica';
  font-size: 100%;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px #999999;
  color: #4d0000;
  text-align: left;
  border: 2% solid grey;
  border-radius: 12%;
  background-image: linear-gradient(#00334d, #262626);
   
}

.heart {
  height: 15%;
  width: 15%;

  }

.bolt {
  height: 35%;
  width: 25%;
}

.sheild {
  height: 15%;
  width: 15%;
}



#hp {
	top: 2%;
  height: 5%;
  width: 100%;
}

#df {
	top:3%;
  height: 5%;
  width: 100%;

}

#bolt {
	top:4%;
  height: 5%;
  width: 100%;
}




#tlset {
  position: absolute;
  top: 60%;
  left: 76%;
  right: 1%;
  margin-left: 5%;
padding-top: 4%;
padding-right: 3%;
padding-bottom: 1%;
padding-left: 4%;
  font-family: 'Aclonica';
  font-size: 100%;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px #999999;
  color: #4d0000;
  text-align: left;
  border: 2% solid grey;
  border-radius: 10%;
  background-image: linear-gradient(#00334d, #262626);
}

.invtitle {
  position: absolute;
  top: 64%;
  left: 86%;
  right: 1%;
  font-family: 'Aclonica';
  font-size: 100%;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px #999999;
  color: #4d0000;
}

input[type=text] {
  background-color: #3CBC8D;
  color: white;
  font-family: 'Aclonica';
  font-size: 100%;
  text-align: center;
  border: 2px double rgb(73, 6, 6);
}